In [19]:
import pandas as pd

In [5]:
pd.__version__

'2.2.0'

In [11]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"
zone_lookup = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [8]:
df = pd.read_csv(url, nrows=100)

In [14]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df["tpep_pickup_datetime"])
df.tpep_dropoff_datetime = pd.to_datetime(df["tpep_dropoff_datetime"])

In [18]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [48]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

In [35]:
help(pd.io.sql.get_schema)

Help on function get_schema in module pandas.io.sql:

get_schema(frame, name: 'str', keys=None, con=None, dtype: 'DtypeArg | None' = None, schema: 'str | None' = None) -> 'str'
    Get the SQL db table schema for the given frame.

    Parameters
    ----------
    frame : DataFrame
    name : str
        name of SQL table
    keys : string or sequence, default: None
        columns to use a primary key
    con: ADBC Connection, SQLAlchemy connectable, sqlite3 connection, default: None
        ADBC provides high performance I/O with native type support, where available.
        Using SQLAlchemy makes it possible to use any DB supported by that
        library
        If a DBAPI2 object, only sqlite3 is supported.
    dtype : dict of column name to SQL type, default None
        Optional specifying the datatype for columns. The SQL type should
        be a SQLAlchemy type, or a string for sqlite3 fallback connection.
    schema: str, default: None
        Optional specifying the schema to be used in creating the table.

In [31]:
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine, if_exists='replace')

0

In [40]:
df_iter = pd.read_csv(url, iterator=True, chunksize=100000)

In [41]:
df_iter

In [42]:
df = next(df_iter)

In [43]:
len(df)

100000

In [44]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [45]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [47]:
from time import time

for df in df_iter:
    start_time = time()
    df.tpep_pickup_datetime = pd.to_datetime(df["tpep_pickup_datetime"])
    df.tpep_dropoff_datetime = pd.to_datetime(df["tpep_dropoff_datetime"])

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    end_time = time()
    print(f"inserted another chunk - took time {end_time-start_time}")

inserted another chunk - took time 7.85033392906189
inserted another chunk - took time 8.128242015838623
inserted another chunk - took time 7.414407253265381
inserted another chunk - took time 7.537581920623779
inserted another chunk - took time 7.332067012786865
inserted another chunk - took time 8.490729808807373
inserted another chunk - took time 7.131680965423584
inserted another chunk - took time 8.670292139053345
inserted another chunk - took time 7.308066129684448
inserted another chunk - took time 8.500540018081665
inserted another chunk - took time 12.584259986877441
inserted another chunk - took time 7.750982999801636
inserted another chunk - took time 9.599595069885254
inserted another chunk - took time 8.180638313293457
inserted another chunk - took time 7.422883033752441
inserted another chunk - took time 9.323160171508789
inserted another chunk - took time 8.834320068359375
inserted another chunk - took time 8.236042976379395
inserted another chunk - took time 8.268813133239746
inserted another chunk - took time 7.370836973190308
inserted another chunk - took time 8.571504831314087
inserted another chunk - took time 8.46064281463623
inserted another chunk - took time 7.433951139450073
inserted another chunk - took time 7.7196691036224365
inserted another chunk - took time 8.603209972381592
inserted another chunk - took time 7.364174127578735
inserted another chunk - took time 7.235769987106323
inserted another chunk - took time 7.331219911575317
inserted another chunk - took time 7.525447845458984
inserted another chunk - took time 7.708357095718384
inserted another chunk - took time 7.445955991744995
inserted another chunk - took time 7.74055290222168
inserted another chunk - took time 7.472707986831665
inserted another chunk - took time 8.985658884048462
inserted another chunk - took time 7.5571229457855225
inserted another chunk - took time 7.541056156158447
inserted another chunk - took time 7.6006388664245605
inserted another chunk - took time 7.862494945526123
inserted another chunk - took time 7.49416708946228
inserted another chunk - took time 8.402742862701416
inserted another chunk - took time 7.268299102783203
inserted another chunk - took time 7.374571084976196
inserted another chunk - took time 9.495140075683594
inserted another chunk - took time 7.460143089294434
inserted another chunk - took time 7.87749719619751
inserted another chunk - took time 8.237051248550415
inserted another chunk - took time 8.303637981414795
inserted another chunk - took time 7.991607189178467
inserted another chunk - took time 18.080753087997437
inserted another chunk - took time 12.810401201248169
inserted another chunk - took time 10.645021915435791
inserted another chunk - took time 8.316584825515747
inserted another chunk - took time 8.387840986251831
inserted another chunk - took time 8.57931900024414
inserted another chunk - took time 8.60480809211731
inserted another chunk - took time 7.6993279457092285
inserted another chunk - took time 8.387978076934814
inserted another chunk - took time 8.32184886932373
inserted another chunk - took time 8.869364023208618
inserted another chunk - took time 7.924352169036865
inserted another chunk - took time 9.059361934661865
inserted another chunk - took time 8.860859870910645
inserted another chunk - took time 11.27484393119812
inserted another chunk - took time 10.360183954238892
inserted another chunk - took time 10.22166895866394
inserted another chunk - took time 7.661195993423462
inserted another chunk - took time 8.334840297698975
inserted another chunk - took time 7.949892044067383
inserted another chunk - took time 7.871232032775879
inserted another chunk - took time 7.998251914978027
inserted another chunk - took time 7.89360785484314
inserted another chunk - took time 8.743381023406982
inserted another chunk - took time 7.832797050476074
inserted another chunk - took time 8.297340869903564
inserted another chunk - took time 9.334776878356934
inserted another chunk - took time 5.478740215301514